@import url("https://use.typekit.net/xwv6bzd.css");

:root {
  --primary: #007fff;
  --secondary: black;
}

::selection {
  background: var(--secondary);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  width: 100vw;
  background: var(--primary);
  text-align: justify;
  font-family: "quasimoda";
}

@media screen and (max-height: 400px) {
  body {
    align-items: unset;
    margin-top: 15vh;
  }
}

main {
  color: white;
  width: 500px;
  max-width: 80vw;
  display: none;
}

main p {
  font-size: 1.2em;
  margin-top: 0;
}

main center {
  font-size: 2em;
}

main center a {
  color: unset;
  text-decoration: none;
}

main center a:hover {
  color: var(--secondary);
}

main center a:not(:last-child) {
  margin-right: 0.5em;
}
